*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #E91E63;
  height: 60px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.header h1 {
  font-size: 2.7rem;
  font-weight: 200;
  color: #fff;
}

.masonry {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;  
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  min-height: 30rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  padding: 2rem;
  margin: 2rem 2rem;
}

.card .card__icon-box{
  margin-top: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.card .card__trash {
  color: #FF5722;
}

.card .card__pencil {
  color: #2196F3;
  margin-right: 2rem;
}

.card .card__checked {
  color: #4CAF50;
  margin-right: 2rem;
}

.card .card__unchecked {
  color: #757575;
  margin-right: 2rem;
}

.card .card__trash:hover,
.card .card__checked:hover,
.card .card__unchecked:hover,
.card .card__pencil:hover {
  cursor: pointer;
}

.card h2 {
  font-weight: 300;
  font-size: 4rem;
}

.card p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.card textarea {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #aaaaaa;
  resize: none;
  font-family: inherit;
  font-weight: 300;  
  font-size: 1.5rem;
  border-bottom: 1px solid #aaaaaa;
  height: 15rem;
  margin-top: 2rem;
}

.card .card__box-button {
  display: flex;
  align-content: center;
  justify-content: center;
}

.card button {
  color: #fff;
  margin: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
}

.card .card__cancel {
  background-color: #FF5722;
}

.card .card__confirm {
  background-color: #4CAF50;  
}

.card button:hover {
  cursor: pointer;
}

.card button:focus {
  outline: none;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  width: 100%;
  margin: 3.5rem 0;
}

.input-box input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #aaaaaa;
  font-family: inherit;
  font-size: 1.5rem;
  border-bottom: 1px solid #aaaaaa;
  width: 90%;
  margin: 1.8rem;
}

.input-box input:focus {
  outline: none;
  color: #000;
  border-color: #000;
  width: 90%;
}

.input-box input::placeholder {
  color: #aaaaaa;
}

.input-box button {
  background-color: #E91E63;
  color: #fff;
  font-size: 3rem;
  border: none;
  border-radius: 100rem;
  width: 5rem;
  height: 5rem;
  margin: 1.8rem 1rem;
}

.input-box button:focus {
  outline: none;
}

.input-box button:active {
  background-color: #C2185B;
}

.input-box button:hover {
  cursor: pointer;
}

.btn {
  background-color: #2196F3;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 0 1rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: #1976D2;
}